<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="st235.com.github.strictcanary">

    <application>
        <activity android:name=".presentation.StrictCanaryActivity"
            android:theme="@style/Theme.AppCompat.DayNight" />
    </application>

</manifest>